{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Get started with broadcast streaming</title>
    </head>
    <body>
        <h2 class="left-align">Get started with broadcast streaming</h2>
        <div class="row">
            <div>
                <input type="radio" id="host" name="joinAs" value="host">
                <label>Host</label><br>
                <input type="radio" id="Audience" name="joinAs" value="audience">
                <label>Audience</label><br>
                <button type="button" id="join">Join</button>
                <button type="button" id="leave">Leave</button>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.17.2.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}" ></script>
{% endblock content %}